body {
    text-align: center;
    font-family: Arial, sans-serif;
}
#race-track {
    position: relative;
    width: 100%;
    height: 475px;
    border: 2px solid #000;
    background-image:url(kaibahaikei.png);
    /* background-color: rgb(153, 240, 124); レーストラックの背景色を緑に設定 */
}
.horse {
    position: absolute;
    width: 50px;
    transition: left 0.5s, top 0.5s;
}
#distance {
    font-size: 24px;
    margin-top: 20px;
}
#countdown {
    font-size: 48px;
    color: red;
    margin: 20px 0;
}
.controls {
    margin: 20px 0;
}
button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
}
bg {
    background:url(kaibahaikei.png);
    background-repeat: no-repeat;
}

