body {
    text-align: center;
    font-family: Arial, sans-serif;
}
#race-track {
    position: relative;
    width: 100%;
    height: 570px;
    border: 2px solid #000;
    background-image:url(keibahaikei.png);
    background-size : cover; 
    /* background-color: rgb(153, 240, 124); レーストラックの背景色を緑に設定(コメントアウト化) */
}
.horse {
    position: absolute;
    width: 50px;
    transition: left 0.5s, top 0.5s;
}
#distance {
    font-size: 24px;
    margin-top: 20px;
}
#countdown {
    font-size: 48px;
    color: red;
    margin: 20px 0;
}
.controls {
    margin: 20px 0;
}
button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
}
bg {
    background:url(kaibahaikei.png);
    background-repeat: no-repeat;
}
#results {
    text-align: center; /* 中央揃え */
}
.extra-large {
    font-size: 32px; /* 上位3頭をより大きく表示 */
}
.large {
    font-size: 24px; /* 上位5頭を大きく表示 */
}
.normal {
    font-size: 14px; /* それ以降を通常サイズで表示 */
}

.divider {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}
hr {
    border: 1px solid black;
    margin: 5px 0;
}